.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.navbar-static-top { margin-bottom: 0; }

.brand-subtitle {
    display: inline-block;
    font-size: 12px;
}

.top-buffer {
    margin-top: 20px;
}
.bottom-buffer {
    margin-bottom: 20px;
}

.footer {
    text-align: center;
    background-color: #f5f5f5;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
}

@import 'states/about/about.less';